@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
.hero{
    background:linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    height: 100vh;
    overflow: hidden;


}
.main{
    text-align: center;
    padding-top: 100px;
    
    
} 
.main h1{
    font-size: 60px;
    line-height: 72px;
    font-weight: 300;
    color:rgb(255, 255, 255);
    padding-bottom: 50px;
}
.main p{
    width: 65%;
    margin: 0 auto;
    font-size: 23px;
    line-height: 35px;
    color:#ffb8f6;
    position: relative;
    bottom: 50px;
    
}
.main img{
    position: relative;
    border-bottom: 100px;

}
.dishbord {
    text-align: center;
    padding:40px;
}
.features{
    
background-color:#FAF6FB;
padding: 60px 0;


}
.bottom-line p{
    color: #998a9b;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
}
.bottom-line h1{
    text-align: center;
    color: #633991;
font-weight: 500;
font-size: 33px;
line-height: 40px; 
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 50px;
    column-gap: 30px;
}
.box{
    background-color:#FFFFFF;
    padding: 40px;
    border-left: 10px solid #633991;
}
.box h1{
    color: #633991;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.box p{
    color: #959094;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.box:hover{
    position: relative;
    bottom: 5px;
    background-color:#b6d6e3;
    transition: 1.4s ease-out;
}